body{
    background: tan;
}
#box{
    width: 800px;
    height: 600px;
    padding: 15px;
    border: 2px solid black;
    background-color: white;
    background-image: 
    url(review-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* cover div */
    background-size: contain;
    /* adjust the hight with in div */
    background-size: auto;
    /* default value */
    -webkit-background-size:cover;

}
