div {
    background:papayawhip;
    width: 800px;
    height: 400px;
    border: 2px solid black;
    resize: both;
    /* vertical and horizantal */
    resize: vertical;
    /* only vertical  */
    resize: horizontal;
    /* only horizantal move we size it at the bottom */
    overflow: auto;
    /* helper property must use here otherwise not work it will make a croll in it  */
    margin-bottom: 10px;
    /* for making separate to boxes */
}
textarea{
    resize: none;
    /* use for not to resize an element  */
}
