p{
    background-color: aqua;
    border: 2px solid green;
    opacity: calc(2.5px);
float: right;
width: 400px;
height: 300px;


}
img{
    width: 800px;
    height: 300px;
    float: left;
    margin-right: 15px;
}