#shadow{
    color: black;
    text-shadow: 2px 2px 5px orange;
    /* 2px is horizantal or x-axis pr left and right  */
     /* 2px is vertical or y-axis pr Top and Bottom  */
     /* 5px is radius or blur effect increases  */
     /* color  */
     font-family: Arial, Helvetica, sans-serif;
     text-shadow: -2px -2px 5px orange;
     /* now this time the first will be goes left and the second value will be goes top */
     


}