body{
    background-image: url(image.jpg);
    /* background-size: cover; */
    background-size: 100px;
    background-repeat:no-repeat;
    background-position: right top;
    /* word-wrap: normal; */
    background-attachment:fixed;
    /*     use for scrolling image with text  */
        background-attachment:scroll;
    /*     its a default value  */
    
}
p{
    /* overflow:hidden; */
    /* border:2px solid black; */
    /* width:400px; */
    /* margin-left:250px; */
    /* margin-top:50px; */
    font-size: 50px;
}
h1{
    text-align:center;
}